.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #442434;
  color: gray;
}

.homeCtn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* Left Side */

.homeLeft {
  /* background-color: darkkhaki; */
  width: 60%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.leftHero {
  /* background-color: darkslategray; */
  width: 90%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  margin-left: 2rem;
}

.leftHero h1 {
  color: white;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: 200;
}

.leftHero h2 {
  color: #00A86B;
  width: 100%;
}

.heroBtns {
  /* background-color: chocolate; */
  width: 35%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 10rem;
  align-items: center;
}

.heroBtns button {
  background-color: #FDDFD0;
  outline: none;
  border: none;
  width: 100%;
  height: 30%;
  font-family: 'GFS Didot', serif;
  font-size: large;
}

/* Right Side */

.homeRight {
  /* background-color: saddlebrown; */
  width: 40%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeRight img {
  width: 90%;
  height: 50%;
  border-radius: 20px;
  border: 1px solid white;
  object-fit: cover;
  margin-right: 4rem;
}


